body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.App {
   margin: 0 auto;
   width: 90%;
   max-width: 400px;
}

input {
  margin-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
  padding: 0.75em;
  border-radius: 5px;
  border: 1px solid #353535;;
}

input:active,
input:focus {
  background: #DCD0FF;
}

.submit-btn {
  width: 100%;
  padding: 0.8em;
  background: #865DFF;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  filter: brightness(105%)
}

label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.5em;
}

.bold {
  font-weight: bold;
  cursor: pointer;
}